[package]
name = "live777"
version = "0.4.1"
edition = "2021"
license = "MPL-2.0"
description = "A very simple, high performance, edge WebRTC SFU"

[workspace]
members = [
    ".",
    "libs/api",
    "libs/cli",
    "libs/http-log",
    "libs/libwish",
    "libs/signal",
    "tools/whepfrom",
    "tools/whipinto",
    "liveion",
    "liveman",
]
[workspace.dependencies]
webrtc = { git = "https://github.com/webrtc-rs/webrtc", rev = "08189da87cb7baf085ab9e8d824859b623b85940" }

anyhow = "1.0"
clap = "4.5"
serde = "1"
tokio = "1.36"
tracing = "0.1"

[dependencies]
liveion = { path = "liveion" }
signal = { path = "libs/signal" }
utils = { path = "libs/utils" }

clap = { workspace = true, features = ["derive"] }
tokio = { workspace = true, features = ["full"] }
tracing = { workspace = true }

local-ip-address = "0.6"

[features]
webhook = ["liveion/webhook"]

# cargo install cargo-deb
# Reference:  https://github.com/kornelski/cargo-deb
[package.metadata.deb]
maintainer = "Metal A-Wing <1@233.email>"
copyright = "BinBat LTD <hey@binbat.com>"
license-file = ["LICENSE"]
extended-description = """\
A very simple, high performance, edge WebRTC SFU.\
Real-time video streaming for the `WHIP`/`WHEP` as first protocol.\
"""
depends = "libc6 systemd"
section = "utility"
priority = "optional"
assets = [
    [
        "target/release/live777",
        "usr/bin/",
        "755",
    ],
    [
        "target/release/whipinto",
        "usr/bin/",
        "755",
    ],
    [
        "target/release/whepfrom",
        "usr/bin/",
        "755",
    ],
    [
        "config-dist.toml",
        "etc/live777/config.toml",
        "644",
    ],
    [
        "live777.service",
        "usr/lib/systemd/system/live777.service",
        "644",
    ],
    [
        "README.md",
        "usr/share/doc/live777/README",
        "644",
    ],
]
