# For cluster, you must enable this
# webhooks = ["http://127.0.0.1:8080/webhook?token="]
# If not set, auto detect
# node_addr = "127.0.0.1:7777"

[http]
# Http Server Listen Address
# listen = "[::]:7777"
# Cross-Origin Resource Sharing (CORS)
# reference: https://developer.mozilla.org/en-US/docs/Web/HTTP/CORS
# cors = false

[[ice_servers]]
urls = [
    "stun:stun.22333.fun",
    "stun:cn.22333.fun",
    "stun:stun.l.google.com:19302",
]

# [[ice_servers]]
# urls = [ "turn:turn.22333.fun", "turn:cn.22333.fun" ]
# username = "live777"
# credential = "live777"
# credential_type = "password"

# WHIP/WHEP auth token
# Headers["Authorization"] = "Bearer {token}"
# [auth]
# tokens = ["live777"]

# Not WHIP/WHEP standard
# https://developer.mozilla.org/en-US/docs/Web/HTTP/Authentication#basic
# Headers["Authorization"] = "Basic {Base64.encode({username}:{password})}"
# [[auth.accounts]]
# username = "live777"
# password = "live777"

[log]
# Env: `LOG_LEVEL`
# Default: info
# Values: off, error, warn, info, debug, trace
# level = "warn"

[stream_info]
# Producer Max Count, Maybe You don't need change this
# pub_max = 1
# Consumer Max Count, only this node instance max
# sub_max = 1
# If reforward is beginning, close all subscriber
# reforward_close_sub = false
# publish_leave_timeout = 10000

