[http]
# Http Server Listen Address
# listen = "[::]:7777"
# Cross-Origin Resource Sharing (CORS)
# reference: https://developer.mozilla.org/en-US/docs/Web/HTTP/CORS
# cors = false

[[ice_servers]]
urls = [
    "stun:stun.22333.fun",
    "stun:cn.22333.fun",
    "stun:stun.l.google.com:19302",
]

# [[ice_servers]]
# urls = [ "turn:turn.22333.fun", "turn:cn.22333.fun" ]
# username = "live777"
# credential = "live777"
# credential_type = "password"

# WHIP/WHEP auth token
# Headers["Authorization"] = "Bearer {token}"
# [auth]
# JSON WEB TOKEN secret
# secret = "<jwt_secret>"
# static JWT token, superadmin, debuggger can use this token
# tokens = ["live777"]

[log]
# Env: `LOG_LEVEL`
# Default: info
# Values: off, error, warn, info, debug, trace
# level = "warn"

[strategy]
# If not set, use default u16::MAX
# Default: 65535
# each_stream_max_sub = 1
# If reforward is beginning, close all subscriber
# reforward_close_sub = false

# WHIP auto a stream
# auto_create_whip = true
# WHEP auto a stream
# auto_create_whep = true
#
# Default: (60000)s
# -1: disable
# 0: immediately destroy
# >= 1: delay millisecond
# Auto a destroy a stream at no pub
# auto_delete_whip = 60
# Auto a destroy a stream at no sub
# auto_delete_whep = 60

# Need enable `--features=webhook`
# [webhook]
# webhooks = ["http://127.0.0.1:8080/webhook?token="]
# If not set, auto detect
# node_addr = "127.0.0.1:7777"

# [net4mqtt]
# mqtt_url = "mqtt://localhost:1883/net4mqtt"
# alias = "liveion-0"
