[Unit]
Description=Live777 Cluster Gateway service
Requires=network-online.target
After=network-online.target

[Service]
Type=simple
ExecStart=/usr/bin/live777-gateway
Restart=always

[Install]
WantedBy=default.target
