name: quality

on:
  push:
  pull_request:

jobs:
  webui:
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - name: Checkout source code
        uses: actions/checkout@v5
        with:
          persist-credentials: false
      - name: Setup Biome
        uses: biomejs/setup-biome@v2
        with:
          version: latest
      - name: Run Biome
        run: biome ci .

  format:
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - name: Checkout source code
        uses: actions/checkout@v5
      - name: Show version information
        run: |
          cargo --version
          cargo fmt --version

      - name: Cargo format
        run: cargo fmt --all -- --check

  clippy:
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - name: Checkout source code
        uses: actions/checkout@v5
      - name: Show version information
        run: |
          cargo --version
          cargo clippy --version
      - name: Cargo clippy --no-default-features
        run: cargo clippy --all-targets --no-default-features --workspace -- -D warnings
      - name: Cargo clippy default-features
        run: cargo clippy --all-targets --workspace -- -D warnings
      - name: Cargo clippy no webui
        run: cargo clippy --all-targets --features=net4mqtt,recorder,source-all --workspace -- -D warnings

      - name: Install pnpm
        uses: pnpm/action-setup@v4
      - uses: actions/setup-node@v6
        with:
          node-version: latest
          cache: pnpm
      - name: Install npm dependencies
        run: pnpm install
      - name: Build WebUI
        run: pnpm -r build
      - name: Cargo clippy --all-features
        run: cargo clippy --all-targets --all-features --workspace -- -D warnings

