name: CI

on: [ push, pull_request ]

env:
  CARGO_TERM_COLOR: always

jobs:
  test:
    strategy:
      fail-fast: false
      matrix:
        os: [ macos-latest, windows-latest, ubuntu-latest ]
        ffmpeg: [ 7.1, 8.0 ]
    runs-on: ${{ matrix.os }}

    steps:
      - name: Checkout source code
        uses: actions/checkout@v5
      - name: Setup ffmpeg
        uses: AnimMouse/setup-ffmpeg@v1
      - name: Show version information
        run: |
          ffmpeg -version
          ffprobe -version
      - name: Install cargo-llvm-cov
        uses: taiki-e/install-action@cargo-llvm-cov
      - name: Generate code coverage
        run: cargo llvm-cov --all --lcov --output-path lcov.info
      - name: Upload coverage to codecov.io
        uses: codecov/codecov-action@v4
        with:
          file: lcov.info
          fail_ci_if_error: true
          token: ${{ secrets.CODECOV_TOKEN }}

  e2e:
    needs: [test]
    strategy:
      fail-fast: false
      matrix:
        os: [ macos-latest, windows-latest, ubuntu-latest ]
    runs-on: ${{ matrix.os }}

    steps:
      - name: Checkout source code
        uses: actions/checkout@v5
      - name: Install pnpm
        uses: pnpm/action-setup@v4
      - name: Setup Nodejs
        uses: actions/setup-node@v6
        with:
          node-version: latest
          cache: pnpm
      - name: Install npm dependencies
        run: pnpm install
      - name: Build WebUI
        run: pnpm -r build
      - name: Build
        run: cargo build --all-targets --all-features --release --verbose
      - name: Setup ffmpeg
        uses: AnimMouse/setup-ffmpeg@v1
        with:
          version: ${{ matrix.ffmpeg }}
      - name: Show version information
        run: |
          ffmpeg -version
          ffprobe -version
      - name: Run e2e tests
        if: ${{ matrix.os != 'windows-latest' }}
        run: pnpm run e2e:cluster

