name: Rust

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    strategy:
      matrix:
        os: [ macos-latest, windows-latest, ubuntu-latest ]
    runs-on: ${{ matrix.os }}

    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: lts/Iron
      - name: Install npm dependencies
        run: npm ci
      - name: Build WebUI
        run: npm run build
      - name: Build
        run: cargo build --all --release --verbose
      - name: Run tests
        run: cargo test --all --verbose
      - name: Setup ffmpeg
        if: ${{ matrix.os != 'windows-latest' }}
        uses: AnimMouse/setup-ffmpeg@v1
      - name: Run e2e tests
        if: ${{ matrix.os != 'windows-latest' }}
        run: npm run e2e:cluster

  check_format:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Show version information
        run: |
          cargo --version
          cargo fmt --version

      - name: Cargo format
        run: cargo fmt --all -- --check

  check_clippy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: lts/Iron
      - name: Install npm dependencies
        run: npm ci
      - name: Build WebUI
        run: npm run build
      - name: Show version information
        run: |
          cargo --version
          cargo clippy --version

      - name: Cargo clippy
        run: cargo clippy --all-targets --all-features --workspace -- -D warnings

